<%= form_for @project do |f| %>
  <div class="form-group">
    <%= f.label :名前 %>
    <%= f.text_field :name, class: 'form-control col-md-6' %>
  </div>
  <div class="form-group">
    <%= f.label :概要 %>
    <%= f.text_field :description, class: 'form-control col-md-6' %>
  </div>
  <h3>タスク</h3>
  
  <div id='tasks'>
    <%= f.fields_for :tasks do |task| %>
      <%= render 'task_fields', :f => task %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'タスクを追加', f, :tasks, class: 'btn btn-secondary mt-2' %>
    </div>
  </div>
  
  <div class="form-group mt-3">
    <%= f.submit '保存', class: 'btn btn-primary' %>
  </div>
<% end %>
