<div class='nested-fields'>
   <div class="field">
     <%= f.label :タスク %>
     <%= f.text_field :description %>
   </div>
   <div class="field">
     <%= f.check_box :done %>
     <%= f.label :終了 %>
   </div>
   <%= link_to_remove_association "remove task", f %>
 </div>